@-webkit-keyframes UpDown {
	0% {transform: translateY(0);}
	50% {transform: translateY(10px);}
	100% {transform: translateY(0);}
}
@-moz-keyframes UpDown {
	0% {transform: translateY(0);}
	50% {transform: translateY(10px);}
	100% {transform: translateY(0);}
}
@keyframes UpDown {
	0% {transform: translateY(0);}
	50% {transform: translateY(10px);}
	100% {transform: translateY(0);}
}

@-webkit-keyframes RotateRight {
	0% {transform: rotate(0);}
	100% {transform: rotate(360deg);}
}
@-moz-keyframes RotateRight {
	0% {transform: rotate(0);}
	100% {transform: rotate(360deg);}
}
@keyframes RotateRight {
	0% {transform: rotate(0);}
	100% {transform: rotate(360deg);}
}

.anim-el {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.fadeIn {
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
.fadeLeft {
	opacity: 0;
	-webkit-transform: translateX(-50px);
	-moz-transform: translateX(-50px);
	-ms-transform: translateX(-50px);
	transform: translateX(-50px);
}
.fadeRight {
	opacity: 0;
	-webkit-transform: translateX(50px);
	-moz-transform: translateX(50px);
	-ms-transform: translateX(50px);
	transform: translateX(50px);
}
.fadeDown {
	opacity: 0;
	-webkit-transform: translateY(50px);
	-moz-transform: translateY(50px);
	-ms-transform: translateY(50px);
	transform: translateY(50px);
}
.fadeUp {
	opacity: 0;
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}
.fadeIn.show,
.fadeLeft.show,
.fadeRight.show,
.fadeDown.show,
.fadeUp.show {
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	transform: none;
}

.RotateRight {
	-webkit-animation: RotateRight 8s linear infinite;
	-moz-animation: RotateRight 8s linear infinite;
	-ms-animation: RotateRight 8s linear infinite;
	animation: RotateRight 8s linear infinite;
}

.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	padding: 10px 30px;
}
.header.white {
	color: #ffffff;
}
.header.scroll {
	position: fixed;
	background-color: #ffffff;
	box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
}
.header.white.scroll {
	color: #303030;
}
.header .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-logo {
	display: block;
	width: 100%;
	max-width: 250px;
	margin-right: 50px;
}
.header-logo img {
	display: block;
	max-width: 100%;
}
.header.white .header-logo img {
	-webkit-filter: brightness(10);
	-moz-filter: brightness(10);
	-ms-filter: brightness(10);
	filter: brightness(10);
}
.header.white.scroll .header-logo img {
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	filter: none;
}
.header .nav {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 600px);
	max-width: 340px;
}
.header .nav > li {
	padding: 0 5px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
.header .nav > li:first-child {
	padding-left: 0;
}
.header .nav > li:last-child {
	padding-right: 0;
}
.header .nav > li a:hover {
	color: #000000;
}
.header.white .nav > li a:hover {
	color: #9b9b9b;
}
.header.white.scroll .nav > li a:hover {
	color: #000000;
}
.header-info {
	width: 100%;
	max-width: 300px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-phone {
	display: block;
	font-size: 14px;
	font-weight: 600;
}
.header.white .header-phone {
	-webkit-filter: brightness(10);
	-moz-filter: brightness(10);
	-ms-filter: brightness(10);
	filter: brightness(10);
}
.header.white.scroll .header-phone {
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	filter: none;
}
.header-lang .flag {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	margin-right: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
}
.header-lang .country {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
.header-burger {
	display: block;
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
	z-index: 100;
}
.header-burger span {
	display: block;
	width: 23px;
	height: 2px;
	border-radius: 2px;
	background-color: #303030;
	position: absolute;
	left: calc(50% - 11.5px);
	top: calc(50% - 1px);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header.white .header-burger span {
	background-color: #ffffff;
}
.header.white.scroll .header-burger span {
	background-color: #303030;
}
.header-burger span:first-child {
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	transform: translateY(-6px);
}
.header-burger span:last-child {
	-webkit-transform: translateY(6px);
	-moz-transform: translateY(6px);
	-ms-transform: translateY(6px);
	transform: translateY(6px);
}
.header-burger.active span {
	opacity: 0;
}
.header.white .header-burger.active span {
	background-color: #303030;
}
.header-burger.active span:first-child {
	opacity: 1;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.header-burger.active span:last-child {
	opacity: 1;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.header-menu {
	display: block;
	width: calc(100% - 30px);
	max-width: 400px;
	position: fixed;
	right: -200%;
	top: 0;
	bottom: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-menu.active {
	right: 0;
}
.header-menu .overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}
.header-menu.active .overlay {
	display: block;
}
.header-menu .menu {
	width: 100%;
	height: 100%;
	padding: 60px 30px;
	background-color: #ffffff;
	color: #303030;
	text-align: left;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	z-index: 1;
}
.header-menu .menu ul > li {
	border-bottom: 1px solid #d0d1d2;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}
.header-menu .menu ul > li a {
	display: block;
	padding: 15px;
}

.footer {
	position: relative;
}
.footer.left-line:before {
	content: '';
	width: 1px;
	height: 100%;
	background-color: #303030;
	position: absolute;
	left: 7%;
	top: 0;
}
.footer .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.footer-top {
	padding: 35px 0;
	text-align: left;
}
.footer-logo {
	display: block;
	width: 100%;
	max-width: 170px;
	font-size: 14px;
	font-weight: 700;
}
.footer-contacts {
	display: block;
	text-align: right;
	width: 100%;
	max-width: 140px;
}
.footer-contacts .phone {
	display: block;
	font-size: 14px;
	font-weight: 700;
}
.footer-contacts .social {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap-reverse;
}
.footer-contacts .social > li {
	width: 20px;
	margin-left: 10px;
	margin-top: 10px;
}
.footer-contacts .social > li:first-child {
	margin-left: 0;
}
.footer-contacts .social > li img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.footer-nav {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: calc(100% - 410px);
}
.footer-nav > .item {
	padding: 0 5px;
	font-size: 13px;
}
.footer-nav > .item:first-child {
	padding-left: 0;
}
.footer-nav > .item:last-child {
	padding-right: 0;
}
.footer-nav > .item a {
	display: inline-block;
	margin-top: 10px;
}
.footer-nav > .item a:first-child {
	margin-top: 0;
}
.footer-nav > .item a:hover {
	color: #000000;
}
.footer-bot {
	padding: 35px 0;
	border-top: 1px solid #303030;
	text-align: left;
}
.footer-links {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.footer-links > li {
	padding: 0 5px;
	font-size: 12px;
	color: #9b9b9b;
}
.footer-links > li:first-child {
	padding-left: 0;
}
.footer-links > li:last-child {
	padding-right: 0;
}
.footer-links > li a:hover {
	color: #000000;
}

.b-section {
	position: relative;
	padding: 80px 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}
.b-section.bg-1 {
	background-image: url('../i/section-bg.png');
}
.b-section.dark {
	background-color: #303030;
	color: #ffffff;
	border: 0;
}
.b-section.border {
	border-bottom: 1px solid #303030;
}
.b-section.no-padding {
	padding: 0;
}
.b-section.left-align {
	text-align: left;
}
.b-section.left-line:before,
.b-section.right-line:before {
	content: '';
	width: 1px;
	height: 100%;
	background-color: #303030;
	position: absolute;
	top: 0;
	z-index: 1;
}
.b-section.left-line:before {
	left: 7%;
}
.b-section.right-line:before {
	right: 7%;
}
.b-section .section-img {
	position: relative;
}
.b-section .section-img:before {
	content: '';
	width: 0;
	height: calc(100% - 100px);
	border-right: 100vw solid #f2f2f2;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 50px;
	z-index: -1;
}
.b-section .section-img img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.page-img {
	display: block;
	position: absolute;
}
.page-img img {
	display: block;
}
.page-img.img-1 {
	right: 0;
	bottom: -6.5vw;
}
.page-img.img-1 img {
	max-width: 30vw;
}
.page-img.img-2 {
	left: 0;
	bottom: -8.3vw;
}
.page-img.img-2 img {
	max-width: 24.1vw;
}
.page-img.img-3 {
	right: 0;
	bottom: -3.6vw;
}
.page-img.img-3 img {
	max-width: 28.4vw;
}
.page-img.img-4 {
	left: 0;
	bottom: 1.3vw;
}
.page-img.img-4 img {
	max-width: 46.7vw;
}
.page-img.img-5 {
	right: 0;
	bottom: -3.8vw;
}
.page-img.img-5 img {
	max-width: 39.7vw;
}
.page-img.img-6 {
	right: 0;
	top: 17.1vw;
}
.page-img.img-6 img {
	max-width: 22.92vw;
}
.page-img.img-7 {
	left: 0;
	bottom: 15.4vw;
}
.page-img.img-7 img {
	max-width: 16.15vw;
}
.page-img.img-8 {
	right: 0;
	bottom: -12.2vw;
}
.page-img.img-8 img {
	max-width: 27vw;
}
.page-img.img-9 {
	left: 0;
	bottom: 19.2vw;
}
.page-img.img-9 img {
	max-width: 24.17vw;
}

.b-title {
	display: block;
	font-size: 36px;
	font-weight: 600;
	line-height: 1.5;
}
.b-subtitle {
	display: block;
	font-size: 18px;
	margin-top: 20px;
	line-height: 1.5;
}
.b-text {
	max-width: 970px;
	margin: 45px auto 0;
	text-align: left;
	font-size: 14px;
	line-height: 1.5;
}
.b-text h2,
.b-text h3,
.b-text h4 {
	display: block;
	font-size: 1.5em;
	font-weight: 600;
}
.b-text img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-text iframe {
	display: block;
	width: 100% !important;
	max-width: 830px;
	height: 465px !important;
	margin: 0 auto;
}

.b-btn {
	display: block;
	width: 100%;
	padding: 15px 10px;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	color: #ffffff;
	background-color: #303030;
	text-transform: uppercase;
	border: 0;
	border-radius: 100px;
}
.b-btn:hover {
	background-color: #000000;
}
.b-section.dark .b-btn {
	background-color: #ffffff;
	color: #303030;
}
.b-section.dark .b-btn:hover {
	background-color: #eeeeee;
}
.b-btn.border-btn {
	border: 2px solid #303030;
	background-color: transparent;
	color: #303030;
	padding: 13px 10px;
}
.b-section.dark .b-btn.border-btn {
	border-color: #ffffff;
	color: #ffffff;
	background-color: transparent;
}
.b-btn.border-btn:hover {
	background-color: #303030;
	color: #ffffff;
}
.b-section.dark .b-btn.border-btn:hover {
	background-color: #ffffff;
	color: #303030;
}
.b-btn.blue-btn {
	background-color: #3e6ae1;
}
.b-btn.blue-btn:hover {
	background-color: #3457b1;
}
.b-btn.white-btn {
	background-color: #ffffff;
	color: #303030;
}
.b-btn.white-btn:hover {
	background-color: #eeeeee;
}

.b-form {
	width: 100%;
	max-width: 370px;
	margin: 50px auto 0;
}
.b-input {
	position: relative;
	margin-bottom: 30px;
	text-align: left;
}
.b-input span {
	display: inline-block;
	margin: 0 20px 10px;
	font-size: 14px;
	color: #6f6f6f;
}
.b-input input,
.b-input textarea {
	display: block;
	width: 100%;
	font-size: 14px;
	color: #303030;
	padding: 15px 20px;
	border: 1px solid #f4f4f4;
	background-color: #f4f4f4;
	border-radius: 100px;
}
.b-input textarea {
	border-radius: 10px;
}
.b-form .b-btn {
	margin: 30px auto 0;
	max-width: 230px;
	font-size: 14px;
	padding: 16px 10px;
}

.b-face {
	position: relative;
	height: 100vh;
	background-color: #eeeeee;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.b-face.dark {
	color: #ffffff;
}
.b-face.right-line:before {
	content: '';
	width: 1px;
	height: 100%;
	background-color: #303030;
	position: absolute;
	right: 7%;
	top: 0;
}
.b-face.top-line:after {
	content: '';
	width: 100%;
	height: 1px;
	background-color: #303030;
	position: absolute;
	left: 0;
	top: 90px;
}
.b-face.dark.right-line:before,
.b-face.dark.top-line:after {
	background-color: #ffffff;
}
.b-face .face-elem {
	position: absolute;
	right: 0;
	top: 28.7%;
}
.b-face .face-elem img {
	display: block;
	max-width: 15.8vw;
	margin-left: auto;
}
.b-face .face-elem:before {
	content: '';
	width: 100vw;
	height: 1px;
	background-color: #303030;
	position: absolute;
	right: 0;
	top: 24%;
}
.b-face .container {
	height: 100%;
}
.b-face .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	flex-wrap: wrap;
	height: 100%;
	padding: 3.8vh 0;
}
.b-face .wrap.big {
	padding: 15vh 0;
}
.b-face .wrap.center-content {
	align-content: center;
}
.b-face .wrap .wrap-item {
	width: 100%;
}
.b-face .b-subtitle {
	max-width: 680px;
	margin-left: auto;
	margin-right: auto;
}
.b-face .b-btn {
	margin: 30px auto 0;
	max-width: 240px;
}
.b-face .face-arr {
	display: block;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-image: url('../i/face-arr.svg');
	margin: 15px auto 0;
	-webkit-animation: UpDown 2s linear infinite;
	-moz-animation: UpDown 2s linear infinite;
	-ms-animation: UpDown 2s linear infinite;
	animation: UpDown 2s linear infinite;
}
.b-face .face-params {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
}
.b-face .face-params .param {
	margin: 0 30px;
	color: #ffffff;
}
.b-face .face-params .param .value {
	display: block;
	font-size: 24px;
	font-weight: 600;
}
.b-face .face-params .param .name {
	display: block;
	font-size: 12px;
	margin-top: 10px;
}
.b-face .face-params .b-btn {
	color: #303030;
	background-color: #ffffff;
	margin: 0 30px;
	max-width: 170px;
}
.b-face .face-params .b-btn.border-btn {
	border-color: #ffffff;
	color: #ffffff;
	background-color: transparent;
}
.b-face .face-params .b-btn.border-btn:hover {
	background-color: #ffffff;
	color: #303030;
}
.b-face .face-logo {
	position: relative;
	width: 100%;
}
.b-face .face-logo img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.b-drone {
	max-width: 860px;
	margin: 0 auto;
}
.b-drone > * {
	position: relative;
	z-index: 1;
}
.b-drone .image {
	margin-top: 40px;
	position: relative;
	z-index: 0;
}
.b-drone .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-drone .b-btn {
	margin: 40px auto 0;
	max-width: 240px;
}

.b-service {
	position: relative;
	width: 100%;
	max-width: 970px;
	margin: 70px auto 0;
}
.b-service:first-child {
	margin-top: 0;
}
.b-service .label {
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	color: #999999;
	margin-bottom: 20px;
}
.b-service .b-subtitle {
	margin-left: auto;
	margin-right: auto;
	max-width: 710px;
}
.b-service .image {
	margin-top: 40px;
}
.b-service .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-service .b-btn {
	margin: 40px auto 0;
	max-width: 240px;
}

.b-text-img-items {
	margin-top: 70px;
	text-align: left;
}
.b-text-img-items > .item {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.b-text-img-items > .item .image {
	width: 50%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.b-text-img-items > .item:nth-child(even) .image {
	order: 1;
}
.b-text-img-items > .item .content {
	width: 50%;
	padding: 70px 0;
}
.b-text-img-items > .item:nth-child(odd) .content {
	padding-left: 85px;
}
.b-text-img-items > .item:nth-child(even) .content {
	padding-right: 85px;
}
.b-text-img-items > .item:first-child .content {
	padding-top: 0;
}
.b-text-img-items > .item:last-child .content {
	padding-bottom: 0;
}
.b-text-img-items > .item .content .title {
	display: block;
	font-size: 24px;
	font-weight: 600;
}
.b-text-img-items > .item .content .params {
	margin-top: 50px;
	text-align: left;
	font-size: 18px;
	line-height: 1.4;
}
.b-text-img-items > .item .content .params > li {
	margin-top: 20px;
	position: relative;
	padding-left: 85px;
}
.b-text-img-items > .item .content .params > li:before {
	content: '';
	width: 50px;
	height: 2px;
	background-color: #222222;
	position: absolute;
	left: 0;
	top: 10px;
}
.b-text-img-items > .item .content .params > li b {
	font-weight: 600;
}
.b-text-img-items > .item .content .text {
	margin-top: 30px;
	font-size: 16px;
	text-align: left;
	line-height: 1.4;
}
.b-text-img-items > .item .content .text b {
	font-weight: 600;
}
.b-text-img-items > .item .content .b-btn {
	max-width: 240px;
	margin-top: 40px;
}

.b-news {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 30px;
}
.b-news > .item {
	display: block;
	width: calc(100%/3 - 20px);
	margin-top: 30px;
	margin-right: 30px;
	text-align: left;
}
.b-news > .item:nth-child(3n) {
	margin-right: 0;
}
.b-news > .item .image {
	display: block;
	position: relative;
	width: 100%;
	padding-bottom: 67.6%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
.b-news > .item .image:before {
	content: '';
	background-color: #000000;
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-news > .item:hover .image:before {
	opacity: 0.3;
}
.b-news > .item .date {
	margin-top: 30px;
	font-size: 13px;
	color: #999999;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-news > .item:hover .date {
	color: #000000;
}
.b-news > .item .name {
	font-size: 16px;
	font-weight: 600;
	margin-top: 15px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-news > .item:hover .name {
	color: #000000;
}

.b-info-list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
}
.b-info-list > li {
	width: calc(100%/3 - 20px);
	margin-top: 30px;
	margin-right: 30px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: space-between;
	flex-wrap: wrap;
}
.b-info-list > li:nth-child(3n) {
	margin-right: 0;
}
.b-info-list > li .top,
.b-info-list > li .bot {
	display: block;
	width: 100%;
}
.b-info-list > li .top {
	max-width: 240px;
	margin: 0 auto;
}
.b-info-list > li .icon {
	display: block;
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 20px;
	background-color: #303030;
	margin: 0 auto;
}
.b-info-list > li .icon img {
	display: block;
	max-width: 60%;
	max-height: 60%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-info-list > li .title {
	display: block;
	font-size: 16px;
	font-weight: 600;
	margin-top: 25px;
}
.b-info-list > li .b-btn {
	max-width: 180px;
	margin: 25px auto 0;
	padding: 11.5px 10px;
}

.b-popup {
	width: 95%;
	max-width: 560px;
	background-color: #ffffff;
	padding: 40px 30px;
	text-align: center;
}
.b-popup.policy {
	text-align: left;
	max-width: 760px;
}
.b-popup .title {
	display: block;
	font-size: 24px;
	font-weight: 600;
}
.b-popup .b-text,
.b-popup .b-form {
	margin-top: 30px;
}

.b-catalog .item {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 60px auto 0;
}
.b-catalog .item .image {
	width: calc(50% - 15px);
}
.b-catalog .item .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-catalog .item .content {
	width: calc(50% - 15px);
	text-align: left;
}
.b-catalog .item .content .head {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.b-catalog .item .content .title {
	font-size: 24px;
	font-weight: 600;
}
.b-catalog .item .content .icons {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-catalog .item .content .icons > li {
	display: block;
	width: 35px;
	margin-left: 15px;
}
.b-catalog .item .content .icons > li:first-child {
	margin-left: 0;
}
.b-catalog .item .content .icons > li img {
	display: block;
	max-width: 100%;
	max-height: 35px;
	margin: 0 auto;
}
.b-section.dark .b-catalog .item .content .icons > li img {
	-webkit-filter: brightness(10);
	-moz-filter: brightness(10);
	-ms-filter: brightness(10);
	filter: brightness(10);
}
.b-catalog .item .content .tasks > li {
	display: inline-block;
	margin-right: 15px;
	margin-top: 20px;
	padding: 11.5px 35px;
	border: 1px solid #303030;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
}
.b-catalog .item .content .tasks > li:last-child {
	margin-right: 0;
}
.b-section.dark .b-catalog .item .content .tasks > li {
	border-color: #ffffff;
}
.b-catalog .item .content .text {
	margin-top: 25px;
	font-size: 16px;
	line-height: 1.4;
	text-align: left;
}
.b-catalog .item .content .params {
	margin-top: 50px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 30px;
	border-bottom: 1px solid #303030;
}
.b-section.dark .b-catalog .item .content .params {
	border-color: #ffffff;
}
.b-catalog .item .content .params > li {
	margin: 0 5px;
	text-align: left;
}
.b-catalog .item .content .params > li:first-child {
	margin-left: 0;
}
.b-catalog .item .content .params > li:last-child {
	margin-right: 0;
}
.b-catalog .item .content .params > li .value {
	font-size: 18px;
	font-weight: 600;
}
.b-catalog .item .content .params > li .name {
	font-size: 12px;
	margin-top: 5px;
}
.b-catalog .item .content .b-btn {
	margin-top: 30px;
	max-width: 240px;
}

.b-product-descr .item {
	margin: 0 auto;
	padding: 60px 0;
	position: relative;
}
.b-product-descr.no-img .item {
	padding: 35px 0;
}
.b-product-descr.no-img .item:first-child {
	padding-top: 70px;
}
.b-product-descr .item:nth-child(even):before {
	content: '';
	width: 0;
	height: 100%;
	border-right: 100vw solid #f2f2f2;
	border-top: 100px solid transparent;
	border-bottom: 100px solid transparent;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
.b-product-descr.no-img .item:nth-child(even):before {
	content: none;
}
.b-product-descr .item .item-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	max-width: 1230px;
	padding: 0 30px;
}
.b-product-descr.no-img .item .item-wrap {
	display: block;
}
.b-product-descr .item .image {
	width: calc(50% + 5px);
}
.b-product-descr .item:nth-child(odd) .image {
	order: 1;
}
.b-product-descr .item .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-product-descr .item .content {
	width: calc(50% - 35px);
	text-align: left;
}
.b-product-descr.no-img .item .content {
	width: 100%;
	max-width: 560px;
	margin: 0 auto;
}
.b-product-descr .item .content .title {
	display: block;
	font-size: 24px;
	font-weight: 600;
}
.b-product-descr .item .content .text {
	margin-top: 35px;
	text-align: left;
	font-size: 14px;
}
.b-product-descr .item .content .text ul > li {
	position: relative;
	padding-left: 85px;
	margin-top: 15px;
}
.b-product-descr .item .content .text ul > li:before {
	content: '';
	width: 50px;
	height: 2px;
	background-color: #222222;
	position: absolute;
	left: 0;
	top: 7px;
}

.b-video + .b-product-slider {
	margin: 40px auto 0;
}
.b-product-slider .slider {
	position: relative;
	width: 100%;
	margin: 0 auto;
}
.b-product-slider .slider .slick-arrow {
	display: block;
	width: 40px;
	height: 40px;
	border: 2px solid #ffffff;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: calc(50% - 20px);
	z-index: 10;
	font-size: 0;
}
.b-product-slider .slider .slick-arrow:before {
	content: '';
	width: 12px;
	height: 12px;
	position: absolute;
	left: calc(50% - 6px);
	top: calc(50% - 6px);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.b-product-slider .slider .slick-prev {
	left: 60px;
}
.b-product-slider .slider .slick-prev:before {
	background-image: url('../i/slick-prev-1.svg');
}
.b-product-slider .slider .slick-next {
	right: 60px;
}
.b-product-slider .slider .slick-next:before {
	background-image: url('../i/slick-next-1.svg');
}
.b-product-slider .slider .slick-dots {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 270px;
	position: absolute;
	left: 0;
	top: calc(100% + 15px);
}
.b-product-slider .slider .slick-dots > li {
	margin: 10px 5px 0;
}
.b-product-slider .slider .slick-dots > li button {
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid #9b9b9b;
	border-radius: 50%;
	background-color: transparent;
	font-size: 0;
}
.b-product-slider .slider .slick-dots > li.slick-active button {
	border-color: #ffffff;
	background-color: #ffffff;
}
.b-product-slider .slider .slide {
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 540px;
}
.b-product-slider .texts {
	padding-left: 270px;
	margin-top: 20px;
}
.b-product-slider .texts .item {
	display: none;
	text-align: left;
}
.b-product-slider .texts .item.active {
	display: block;
}
.b-product-slider .texts .item .title {
	display: block;
	font-size: 20px;
	font-weight: 600;
}
.b-product-slider .texts .item .text {
	text-align: left;
	font-size: 14px;
	margin-top: 10px;
}

.b-video {
	display: block;
	width: 100%;
	position: relative;
}
.b-video iframe {
	display: block;
	width: 100% !important;
	max-width: 830px;
	height: 465px !important;
	margin: 0 auto;
}
.b-video span {
	display: block;
	font-size: 14px;
	font-weight: 600;
	margin-top: 20px;
}

.b-advs {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 30px;
}
.b-advs > li {
	width: calc(50% - 15px);
	margin-top: 30px;
	padding: 50px 10px 50px 35px;
	position: relative;
	text-align: left;
}
.b-advs > li:before {
	content: '';
	width: 50%;
	max-width: 300px;
	height: 100%;
	background-color: #f8f8f8;
	position: absolute;
	left: 0;
	top: 0;
}
.b-advs > li .title {
	display: block;
	font-size: 20px;
	font-weight: 600;
	position: relative;
}
.b-advs > li .text {
	margin-top: 25px;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
	position: relative;
	padding-left: 65px;
}
.b-advs > li .text:before {
	content: '';
	width: 50px;
	height: 2px;
	background-color: #222222;
	position: absolute;
	left: 0;
	top: 11px;
}

.b-img-about {
	margin: 0 auto;
}
.b-img-about .item {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.b-img-about .item .image {
	width: 50%;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.b-img-about .item:nth-child(odd) .image {
	order: 1;
}
.b-img-about .item .content {
	text-align: left;
	width: 50%;
	padding: 55px 0;
}
.b-img-about .item:nth-child(odd) .content {
	padding-right: 85px;
}
.b-img-about .item:nth-child(even) .content {
	padding-left: 85px;
}
.b-img-about .item .content .title {
	font-size: 24px;
	font-weight: 600;
}
.b-img-about .item .content .text + .title {
	margin-top: 45px;
}
.b-img-about .item .content .text {
	margin-top: 40px;
	font-size: 14px;
	text-align: left;
}
.b-img-about .item .content .text ul > li {
	position: relative;
	padding-left: 85px;
	margin-top: 10px;
}
.b-img-about .item .content .text ul > li:before {
	content: '';
	width: 50px;
	height: 2px;
	background-color: #222222;
	position: absolute;
	left: 0;
	top: 7px;
}

.b-steps {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 60px auto 0;
}
.b-steps .image {
	position: relative;
	width: 50%;
}
.b-steps .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-steps .content {
	width: calc(50% - 85px);
}
.b-steps .item {
	padding: 25px 0;
	border-bottom: 1px solid #222222;
	text-align: left;
}
.b-steps .item:first-child {
	padding-top: 0;
}
.b-steps .item:last-child {
	padding-bottom: 0;
	border: 0;
}
.b-steps .item .title {
	display: block;
	font-size: 20px;
	font-weight: 600;
}
.b-steps .item .text {
	margin-top: 20px;
	font-size: 14px;
	text-align: left;
}

.b-info-cards {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 30px;
}
.b-info-cards > .card {
	width: calc(100%/3 - 20px);
	margin-top: 30px;
	margin-right: 30px;
	padding: 50px 30px;
	text-align: left;
	color: #ffffff;
	background-color: #303030;
}
.b-info-cards > .card:nth-child(3n) {
	margin-right: 0;
}
.b-info-cards > .card .title {
	display: block;
	font-size: 20px;
	font-weight: 600;
}
.b-info-cards > .card .text {
	margin-top: 30px;
	text-align: left;
	font-size: 14px;
	line-height: 1.4;
}
.b-info-cards > .card .text ul > li {
	position: relative;
	padding-left: 15px;
	margin-top: 15px;
}
.b-info-cards > .card .text ul > li:before {
	content: '';
	width: 4px;
	height: 4px;
	background-color: #ffffff;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 8px;
}

.b-services {
	margin-top: 60px;
}
.b-services .item {
	margin: 30px auto 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.b-services .item .image {
	position: relative;
	width: calc(50% + 15px);
}
.b-services .item .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-services .item .content {
	width: calc(50% - 85px);
	text-align: left;
}
.b-services .item .content .title {
	display: block;
	font-size: 24px;
	font-weight: 600;
}
.b-services .item .content .text {
	font-size: 16px;
	text-align: left;
	line-height: 1.4;
	margin-top: 25px;
}
.b-services .item .content .b-btn {
	margin-top: 35px;
	max-width: 240px;
}

.b-image {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
.b-image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-image span {
	display: block;
	font-size: 28px;
	font-weight: 600;
	margin-top: 30px;
}

.b-develop .item {
	margin: 80px auto 0;
}
.b-develop .item:first-child {
	margin-top: 0;
}
.b-develop .item .progress {
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
	border: 1px solid #303030;
	padding: 11px 40px;
}
.b-develop .item .name {
	display: block;
	font-size: 36px;
	font-weight: 600;
	margin-top: 60px;
}
.b-develop .item .image {
	position: relative;
	width: 100%;
	margin-top: 60px;
}
.b-develop .item .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.b-develop .item .text {
	font-size: 16px;
	line-height: 1.4;
	margin: 50px auto 0;
	max-width: 620px;
}

.b-banner {
	position: relative;
	padding: 50px calc(50% + 20px) 50px 40px;
	text-align: left;
	margin-top: 60px;
}
.b-banner:before {
	content: '';
	width: 69%;
	max-width: 800px;
	height: 100%;
	background-color: #f8f8f8;
	position: absolute;
	left: 0;
	top: 0;
}
.b-banner img {
	display: block;
	max-width: 50%;
	max-height: calc(100% + 60px);
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.b-banner .title {
	display: block;
	position: relative;
	font-size: 20px;
	font-weight: 600;
}
.b-banner .text {
	position: relative;
	margin-top: 25px;
	font-size: 16px;
	line-height: 1.5;
	padding-left: 65px;
	text-align: left;
}
.b-banner .text:before {
	content: '';
	width: 50px;
	height: 2px;
	background-color: #303030;
	position: absolute;
	left: 0;
	top: 11px;
}

.b-news-face .head {
	padding-left: 170px;
	text-align: left;
	position: relative;
}
.b-news-face .head .back-btn {
	display: block;
	width: 30px;
	height: 30px;
	border: 5px solid transparent;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../i/back-arr.svg');
	position: absolute;
	left: 70px;
	top: 12px;
}
.b-news-face .head .date {
	display: block;
	font-size: 16px;
	font-weight: 500;
	color: #999999;
	margin-top: 25px;
}
.b-news-face .image {
	position: relative;
	margin-top: 50px;
}
.b-news-face .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.b-news-content {
	width: 100%;
	max-width: 830px;
	margin: 0 auto;
}
.b-news-content .b-text {
	margin-top: 0;
	font-size: 16px;
}

.b-about {
	display: block;
	width: 100%;
	max-width: 840px;
	margin: 0 auto;
	text-align: left;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.3;
}

.b-history {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 60px;
}
.b-history .btns {
	padding-right: 60px;
	margin-right: 80px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}
.b-history .btns > li {
	display: block;
	font-size: 20px;
	cursor: pointer;
	margin-bottom: 80px;
	position: relative;
}
.b-history .btns > li:last-child {
	margin-bottom: 0;
}
.b-history .btns > li:before {
	content: '';
	width: 1px;
	height: calc(80px + 100%);
	background-color: #cdcdcd;
	position: absolute;
	right: -51px;
	top: 50%;
}
.b-history .btns > li:last-child:before {
	content: none;
}
.b-history .btns > li:after {
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #cdcdcd;
	position: absolute;
	right: -55px;
	top: calc(50% - 4px);
	box-sizing: border-box;
}
.b-history .btns > li.active:after {
	width: 18px;
	height: 18px;
	background-color: #ffffff;
	border: 5px solid #303030;
	right: -60px;
	top: calc(50% - 9px);
}
.b-history .info {
	width: 100%;
	max-width: 440px;
	text-align: left;
}
.b-history .info > .item {
	display: none;
}
.b-history .info > .item.active {
	display: block;
}
.b-history .info > .item .title {
	display: block;
	font-size: 20px;
	font-weight: 600;
}
.b-history .info > .item .text {
	margin-top: 35px;
	font-size: 16px;
	line-height: 1.4;
	text-align: left;
}

.b-about-advs {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.b-about-advs > li {
	width: calc(100%/3 - 20px);
	margin-top: 50px;
	margin-right: 30px;
}
.b-about-advs > li:nth-child(3n) {
	margin-right: 0;
}
.b-about-advs > li .number {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 80px;
	height: 80px;
	font-size: 36px;
	font-weight: 600;
	color: #ffffff;
	background-color: #303030;
	border-radius: 20px;
}
.b-about-advs > li .text {
	margin-top: 30px;
	font-size: 16px;
	text-align: left;
}

.b-numbers {
	border-top: 1px solid #303030;
	border-bottom: 1px solid #303030;
	margin: 60px auto 0;
	padding: 0 30px;
}
.b-numbers .content {
	width: 100%;
	max-width: 570px;
	margin: 0 auto;
	padding: 60px 40px;
	border-left: 1px solid #303030;
	border-right: 1px solid #303030;
	font-size: 20px;
}
.b-numbers .content ul > li {
	margin-top: 15px;
}
.b-numbers .content ul > li:first-child {
	margin-top: 0;
}

.b-nav {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.b-nav > li {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: space-between;
	flex-wrap: wrap;
	width: calc(50% - 15px);
	margin-top: 50px;
	text-align: left;
}
.b-nav > li .top,
.b-nav > li .bot {
	width: 100%;
}
.b-nav > li .image {
	display: block;
	width: 100%;
	padding-bottom: 59.6%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.b-nav > li .title {
	display: block;
	font-size: 20px;
	font-weight: 600;
	margin-top: 30px;
}
.b-nav > li .b-btn {
	max-width: 240px;
	margin-top: 30px;
}

.b-contacts {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 20px;
}
.b-contacts > li {
	width: calc(100%/3 - 20px);
	margin-top: 50px;
}
.b-contacts > li .icon {
	display: block;
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 20px;
	background-color: #303030;
	margin: 0 auto;
}
.b-contacts > li .icon img {
	display: block;
	max-width: 60%;
	max-height: 60%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-contacts > li .text {
	margin-top: 30px;
	font-size: 16px;
	font-weight: 600;
}

.b-map {
	position: relative;
	width: 100%;
	height: 500px;
	margin-top: 80px;
}
.b-map iframe {
	display: block;
	width: 100% !important;
	height: 100% !important;
}

.b-thanks {
	padding: 50px 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../i/thanks-bg.jpg');
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	min-height: 100vh;
}
.b-thanks .image {
	margin: 60px auto 0;
}
.b-thanks .image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.b-error {
	padding: 50px 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	min-height: 100vh;
}
.b-error .b-btn {
	margin: 80px auto 0;
	padding: 18px 10px;
	max-width: 240px;
}



@media screen and (max-width: 1230px){
	.footer.left-line:before {
		left: 15px;
	}

	.b-section.left-line:before {
		left: 15px;
	}
	.b-section.right-line:before {
		right: 15px;
	}

	.b-face.right-line:before {
		right: 15px;
	}
	.b-face .face-elem img {
		max-width: 153px;
	}
	.b-face .face-params {
		justify-content: space-between;
	}
	.b-face .face-params .param,
	.b-face .face-params .b-btn {
		margin: 0;
	}

	.b-text-img-items > .item:nth-child(odd) .content {
		padding-left: 50px;
	}
	.b-text-img-items > .item:nth-child(even) .content {
		padding-right: 50px;
	}

	.b-product-slider .slider .slide {
		height: calc(46.15vw - 60px);
	}
}
@media screen and (max-width: 1024px){
	.header-logo {
		margin-right: 0;
	}
	.header .nav {
		display: none;
	}

	.footer-nav {
		order: 1;
		width: 100%;
		margin-top: 30px;
	}
	.footer-bot {
		padding-top: 25px;
	}
	.footer-links > li {
		padding: 0;
		width: calc(50% - 15px);
		margin-top: 10px;
	}

	.b-text iframe {
		max-width: 640px;
		height: 360px !important;
	}

	.b-face {
		background-attachment: scroll;
	}
	.b-face .face-params {
		flex-wrap: wrap;
		max-width: 760px;
		margin: 0 auto;
	}
	.b-face .face-params .b-btn {
		max-width: 300px;
		margin: 30px auto 0;
	}

	.b-drone .image img {
		max-height: 350px;
	}

	.b-text-img-items > .item {
		display: block;
		max-width: 585px;
		margin: 70px auto 0;
	}
	.b-text-img-items > .item .image {
		width: 100%;
		padding-bottom: 85.5%;
	}
	.b-text-img-items > .item .content {
		margin-top: 50px;
		width: 100%;
		padding: 0 !important;
	}

	.b-news {
		justify-content: space-between;
		max-width: 770px;
		margin: 30px auto 0;
	}
	.b-news > .item {
		width: calc(50% - 15px);
		margin-right: 0;
	}

	.b-product-descr .item .item-wrap {
		display: block;
	}
	.b-product-descr .item .image {
		width: 100%;
		max-width: 560px;
		margin: 0 auto;
	}
	.b-product-descr .item .content {
		width: 100%;
		max-width: 560px;
		margin: 40px auto 0;
		text-align: center;
	}

	.b-product-slider .slider .slick-arrow {
		top: calc(50% - 35px);
	}
	.b-product-slider .slider .slick-prev {
		left: 30px;
	}
	.b-product-slider .slider .slick-next {
		right: 30px;
	}
	.b-product-slider .slider .slick-dots {
		width: 100%;
		margin-top: 10px;
		position: relative;
		top: 0;
	}
	.b-product-slider .texts {
		padding-left: 0;
	}

	.b-video iframe {
		max-width: 640px;
		height: 360px !important;
	}

	.b-advs {
		display: block;
		margin-top: 50px;
	}
	.b-advs > li {
		width: 100%;
		max-width: 560px;
		margin: 30px auto 0;
	}

	.b-img-about .item {
		display: block;
		max-width: 560px;
		margin: 40px auto 0;
	}
	.b-img-about .item:first-child {
		margin-top: 0;
	}
	.b-img-about .item .image {
		width: 100%;
		padding-bottom: 100%;
	}
	.b-img-about .item .content {
		width: 100%;
		padding: 30px 0 0;
	}
	.b-img-about .item:nth-child(odd) .content {
		padding-right: 0;
	}
	.b-img-about .item:nth-child(even) .content {
		padding-left: 0;
	}

	.b-steps {
		display: block;
	}
	.b-steps .image {
		width: 100%;
		max-width: 560px;
		margin: 0 auto;
	}
	.b-steps .content {
		width: 100%;
		max-width: 560px;
		margin: 30px auto 0;
	}

	.b-info-cards {
		justify-content: space-between;
	}
	.b-info-cards > .card {
		width: calc(50% - 15px);
		margin-right: 0;
	}

	.b-services .item {
		display: block;
		max-width: 560px;
		margin: 40px auto 0;
	}
	.b-services .item .image {
		width: 100%;
	}
	.b-services .item .content {
		width: 100%;
		margin: 30px auto 0;
	}

	.b-history {
		display: block;
	}
	.b-history .btns {
		margin: 0 -10px;
		padding: 10px;
		overflow-x: auto;
		overflow-y: hidden;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
	}
	.b-history .btns::-webkit-scrollbar {
		-webkit-appearance: none;
		display: none;
		visibility: hidden;
		width: 0;
		height: 0;
	}
	.b-history .btns::-moz-scrollbar {
		-moz-appearance: none;
		display: none;
		visibility: hidden;
		width: 0;
		height: 0;
	}
	.b-history .btns::-ms-scrollbar {
		display: none;
		visibility: hidden;
		width: 0;
		height: 0;
	}
	.b-history .btns::-o-scrollbar {
		display: none;
		visibility: hidden;
		width: 0;
		height: 0;
	}
	.b-history .btns > li {
		display: block;
		min-width: 80px;
		font-size: 16px;
		padding: 10px 20px;
		border-radius: 5px;
		background-color: #fafafa;
		margin: 0 10px;
	}
	.b-history .btns > li:first-child {
		margin-left: auto;
	}
	.b-history .btns > li:last-child {
		margin-right: auto;
	}
	.b-history .btns > li.active {
		background-color: #ffffff;
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	}
	.b-history .btns > li:before,
	.b-history .btns > li:after {
		content: none;
	}
	.b-history .info {
		max-width: 460px;
		margin: 40px auto 0;
		text-align: center;
	}

	.b-contacts {
		justify-content: space-between;
	}
	.b-contacts > li {
		width: calc(50% - 15px);
	}
}
@media screen and (max-width: 768px){
	.header {
		padding: 10px;
	}
	.header.scroll {
		padding: 10px;
	}
	.header-logo {
		max-width: 150px;
	}
	.header-info {
		width: calc(100% - 170px);
		max-width: 130px;
	}
	.header-phone a {
		display: block;
		font-size: 0;
		width: 20px;
		height: 20px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		background-image: url('../i/header-phone.svg');
	}
	.header-lang {
		order: 0;
	}
	.header-menu {
		max-width: 320px;
	}
	.header-menu .menu {
		padding: 50px 20px;
	}
	.header-menu .menu ul > li a {
		padding: 10px;
	}

	.footer.left-line:before {
		left: 9px;
	}
	.footer .wrap {
		display: block;
	}
	.footer-top {
		padding: 20px 0;
		text-align: center;
	}
	.footer-logo {
		max-width: none;
	}
	.footer-nav {
		display: block;
		margin-top: 20px;
	}
	.footer-nav > .item {
		padding: 0;
		margin-top: 10px;
	}
	.footer-contacts {
		max-width: none;
		text-align: center;
		margin-top: 20px;
	}
	.footer-contacts .social {
		justify-content: center;
		flex-wrap: wrap;
	}
	.footer-contacts .social > li {
		margin: 10px 5px 0;
	}
	.footer-contacts .social > li:first-child {
		margin-left: 0;
	}
	.footer-bot {
		padding: 20px 0;
		text-align: center;
	}
	.footer-links {
		display: block;
	}
	.footer-links > li {
		width: 100%;
		margin-top: 10px;
	}
	.footer-links > li:first-child {
		margin-top: 0;
	}

	.b-section {
		padding: 40px 0;
	}
	.b-section.left-line:before {
		left: 9px;
	}
	.b-section.right-line:before {
		right: 9px;
	}
	.b-section .section-img:before {
		height: calc(100% - 50px);
		border-top-width: 15px;
		border-bottom-width: 15px;
		top: 25px;
	}

	.b-title {
		font-size: 24px;
	}
	.b-subtitle {
		font-size: 16px;
		margin-top: 15px;
	}
	.b-title br/*,
	.b-subtitle br*/ {
		display: none;
	}
	.b-text {
		margin-top: 25px;
		font-size: 12px;
	}
	.b-text iframe {
		max-width: 560px;
		height: 315px !important;
	}

	.b-btn {
		font-size: 10px;
		padding: 13px 10px;
	}
	.b-btn.border-btn {
		padding: 11px 10px;
	}

	.b-form {
		margin: 30px auto 0;
	}
	.b-input {
		margin-bottom: 15px;
	}
	.b-input span {
		font-size: 12px;
	}
	.b-input input,
	.b-input textarea {
		font-size: 12px;
		padding: 14px 20px;
	}
	.b-form .b-btn {
		font-size: 12px;
		padding: 15px 10px;
		margin: 15px auto 0;
	}

	.b-face.right-line:before {
		right: 9px;
	}
	.b-face.top-line:after {
		top: 50px;
	}
	.b-face .face-elem {
		top: 32%;
	}
	.b-face .face-elem img {
		max-width: 93px;
	}
	.b-face .b-btn {
		max-width: 200px;
		margin: 20px auto 0;
	}
	.b-face .face-arr {
		width: 20px;
		height: 20px;
		margin: 10px auto 0;
	}
	.b-face .face-params {
		max-width: 460px;
		padding-bottom: 15px;
	}
	.b-face .face-params .param .value {
		font-size: 16px;
	}
	.b-face .face-params .param .name {
		font-size: 10px;
		margin-top: 5px;
	}
	.b-face .face-params .b-btn {
		margin: 20px auto 0;
		max-width: 200px;
	}

	.b-drone .image {
		margin-top: 20px;
	}
	/*.b-drone .image img {
		max-height: 235px;
	}*/
	.b-drone .b-btn {
		margin: 30px auto 0;
	}

	.b-service {
		margin: 40px auto 0;
		max-width: 460px;
	}
	.b-service .label {
		font-size: 12px;
		margin-bottom: 15px;
	}
	.b-service .image {
		margin-top: 20px;
	}
	.b-service .b-btn {
		margin: 25px auto 0;
	}

	.b-text-img-items {
		margin-top: 0;
	}
	.b-text-img-items > .item {
		max-width: 380px;
		margin: 30px auto 0;
	}
	.b-text-img-items > .item .content {
		margin-top: 20px;
	}
	.b-text-img-items > .item .content .title {
		font-size: 20px;
	}
	.b-text-img-items > .item .content .params {
		font-size: 15px;
		margin-top: 20px;
	}
	.b-text-img-items > .item .content .params > li {
		margin-top: 15px;
		padding-left: 55px;
	}
	.b-text-img-items > .item .content .params > li:before {
		width: 40px;
		top: 8.5px;
	}
	.b-text-img-items > .item .content .text {
		margin-top: 20px;
		font-size: 14px;
	}
	.b-text-img-items > .item .content .b-btn {
		margin: 25px auto 0;
	}

	.b-news {
		margin-top: 10px;
	}
	.b-news > .item {
		width: calc(50% - 10px);
		margin-top: 30px;
	}
	.b-news > .item .date {
		font-size: 11px;
		margin-top: 15px;
	}
	.b-news > .item .name {
		margin-top: 10px;
		font-size: 14px;
	}

	.b-info-list > li {
		width: calc(100%/3 - 40px/3);
		margin-right: 20px;
		margin-top: 30px;
	}
	.b-info-list > li .icon {
		width: 50px;
		height: 50px;
		border-radius: 10px;
	}
	.b-info-list > li .title {
		font-size: 12px;
		margin-top: 15px;
	}
	.b-info-list > li .b-btn {
		margin: 15px auto 0;
	}

	.b-popup {
		padding: 20px;
	}
	.b-popup .title {
		font-size: 20px;
	}
	.b-popup .b-text,
	.b-popup .b-form {
		margin-top: 20px;
	}

	.b-catalog .item {
		display: block;
		max-width: 560px;
		margin: 40px auto 0;
	}
	.b-catalog .item .image {
		width: 100%;
	}
	.b-catalog .item .content {
		width: 100%;
		margin: 20px auto 0;
		text-align: center;
	}
	.b-catalog .item .content .head {
		display: block;
	}
	.b-catalog .item .content .title {
		font-size: 20px;
	}
	.b-catalog .item .content .icons {
		justify-content: center;
	}
	.b-catalog .item .content .icons > li {
		width: 25px;
		margin: 10px 5px 0;
	}
	.b-catalog .item .content .icons > li:first-child {
		margin-left: 5px;
	}
	.b-catalog .item .content .icons > li img {
		max-height: 25px;
	}
	.b-catalog .item .content .tasks > li {
		font-size: 10px;
		padding: 10px 25px;
	}
	.b-catalog .item .content .text {
		margin-top: 20px;
		font-size: 14px;
	}
	.b-catalog .item .content .params {
		margin-top: 20px;
		padding-bottom: 20px;
	}
	.b-catalog .item .content .b-btn {
		margin: 20px auto 0;
	}
	.b-catalog .item .content .params > li .value {
		font-size: 15px;
	}
	.b-catalog .item .content .params > li .name {
		font-size: 10px;
	}

	.b-product-descr .item,
	.b-product-descr.no-img .item {
		padding: 25px 0;
	}
	.b-product-descr .item:first-child,
	.b-product-descr.no-img .item:first-child {
		padding-top: 50px;
	}
	.b-product-descr .item:nth-child(even):before {
		border-bottom: 25px solid transparent;
	}
	.b-product-descr .item .item-wrap {
		padding: 0 10px;
	}
	.b-product-descr .item .content {
		margin-top: 30px;
	}
	.b-product-descr .item .content .title {
		font-size: 20px;
	}
	.b-product-descr .item .content .text {
		margin-top: 20px;
		font-size: 12px;
	}
	.b-product-descr .item .content .text ul > li {
		padding-left: 55px;
		margin-top: 10px;
	}
	.b-product-descr .item .content .text ul > li:before {
		width: 40px;
		top: 6px;
	}

	.b-video + .b-product-slider {
		margin: 25px auto 0;
	}
	.b-product-slider .slider .slick-arrow {
		width: 30px;
		height: 30px;
		top: calc(50% - 30px);
	}
	.b-product-slider .slider .slick-prev {
		left: 15px;
	}
	.b-product-slider .slider .slick-next {
		right: 15px;
	}
	.b-product-slider .slider .slide {
		height: 290px;
	}
	.b-product-slider .texts .item .title {
		font-size: 18px;
	}
	.b-product-slider .texts .item .text {
		font-size: 12px;
	}

	.b-video iframe {
		max-width: 560px;
		height: 315px !important;
	}
	.b-video span {
		font-size: 12px;
		margin-top: 10px;
	}

	.b-advs {
		margin-top: 30px;
	}
	.b-advs > li {
		padding: 20px 0 20px 20px;
		margin: 20px auto 0;
	}
	.b-advs > li:before {
		max-width: 200px;
	}
	.b-advs > li .title {
		font-size: 18px;
	}
	.b-advs > li .text {
		margin-top: 15px;
		font-size: 14px;
		padding-left: 55px;
	}
	.b-advs > li .text:before {
		width: 40px;
		top: 9.5px;
	}

	.b-img-about .item {
		max-width: 380px;
		margin: 30px auto 0;
	}
	.b-img-about .item .content {
		padding-top: 20px;
	}
	.b-img-about .item .content .title {
		font-size: 20px;
	}
	.b-img-about .item .content .text + .title {
		margin-top: 20px;
	}
	.b-img-about .item .content .text {
		margin-top: 15px;
		font-size: 12px;
	}
	.b-img-about .item .content .text ul > li {
		padding-left: 55px;
	}
	.b-img-about .item .content .text ul > li:before {
		width: 40px;
		top: 6px;
	}

	.b-steps {
		margin-top: 30px;
	}
	.b-steps .image {
		max-width: 380px;
	}
	.b-steps .content {
		margin: 20px auto 0;
		max-width: 380px;
	}
	.b-steps .item {
		padding: 15px 0;
	}
	.b-steps .item .title {
		font-size: 18px;
	}
	.b-steps .item .text {
		margin-top: 10px;
		font-size: 12px;
	}

	.b-info-cards {
		margin-top: 10px;
	}
	.b-info-cards > .card {
		margin-top: 20px;
		padding: 20px;
		width: calc(50% - 10px);
	}
	.b-info-cards > .card .title {
		font-size: 18px;
	}
	.b-info-cards > .card .text {
		font-size: 12px;
		margin-top: 20px;
	}
	.b-info-cards > .card .text ul > li {
		margin-top: 10px;
	}
	.b-info-cards > .card .text ul > li:before {
		top: 6px;
	}

	.b-services {
		margin-top: 0;
	}
	.b-services .item .content {
		margin-top: 20px;
	}
	.b-services .item .content .title {
		font-size: 20px;
	}
	.b-services .item .content .text {
		font-size: 14px;
		margin-top: 15px;
	}
	.b-services .item .content .b-btn {
		margin-top: 15px;
	}

	.b-image span {
		font-size: 22px;
		margin-top: 20px;
	}

	.b-develop .item {
		margin: 50px auto 0;
	}
	.b-develop .item .progress {
		font-size: 10px;
		padding: 10px 20px;
	}
	.b-develop .item .name {
		font-size: 24px;
		margin-top: 30px;
	}
	.b-develop .item .image {
		margin-top: 30px;
	}
	.b-develop .item .text {
		font-size: 14px;
		margin-top: 20px;
	}

	.b-news-face .head {
		padding-left: 50px;
	}
	.b-news-face .head .date {
		font-size: 14px;
		margin-top: 15px;
	}
	.b-news-face .head .back-btn {
		top: 3px;
		left: 0;
	}
	.b-news-face .image {
		margin-top: 25px;
	}

	.b-news-content .b-text {
		font-size: 14px;
	}

	.b-about {
		font-size: 18px;
	}

	.b-history {
		margin-top: 30px;
	}
	.b-history .btns > li {
		font-size: 14px;
		padding: 9px 15px;
	}
	.b-history .info {
		margin: 15px auto 0;
		max-width: 400px;
	}
	.b-history .info > .item .title {
		font-size: 18px;
	}
	.b-history .info > .item .text {
		font-size: 14px;
		margin-top: 15px;
	}

	.b-about-advs {
		justify-content: space-between;
	}
	.b-about-advs > li {
		width: calc(50% - 10px);
		margin-top: 30px;
		margin-right: 0;
	}
	.b-about-advs > li .number {
		width: 60px;
		height: 60px;
		font-size: 24px;
		border-radius: 15px;
	}
	.b-about-advs > li .text {
		font-size: 14px;
		margin-top: 15px;
	}

	.b-numbers {
		padding: 0 10px;
		margin-top: 20px;
	}
	.b-numbers .content {
		padding: 20px;
		font-size: 16px;
	}
	.b-numbers .content ul > li {
		margin-top: 10px;
	}

	.b-nav > li {
		width: calc(50% - 10px);
		margin-top: 30px;
	}
	.b-nav > li .title {
		margin-top: 15px;
		font-size: 16px;
	}
	.b-nav > li .b-btn {
		margin-top: 15px;
	}

	.b-contacts {
		display: block;
		margin-top: 0;
	}
	.b-contacts > li {
		width: 100%;
		margin: 30px auto 0;
	}
	.b-contacts > li .icon {
		width: 60px;
		height: 60px;
		border-radius: 15px;
	}
	.b-contacts > li .text {
		margin-top: 15px;
		font-size: 16px;
	}

	.b-map {
		height: 350px;
		margin: 40px auto 0;
	}

	.b-thanks {
		padding: 40px 0;
	}
	.b-thanks .image {
		margin: 30px auto 0;
	}
	.b-thanks .image img {
		max-height: 320px;
	}

	.b-error {
		padding: 40px 0;
	}
	.b-error .b-btn {
		margin: 30px auto 0;
		padding: 16px 10px;
	}
}
@media screen and (max-width: 560px){
	.b-text iframe {
		max-width: 420px;
		height: 235px !important;
	}

	.b-face .face-params .param .value {
		font-size: 3.8vw;
	}
	.b-face .face-params .param .name {
		font-size: 2.5vw;
	}

	.b-news {
		display: block;
		margin-top: 30px;
	}
	.b-news > .item {
		width: 100%;
		max-width: 370px;
		margin: 30px auto 0;
	}
	.b-news > .item:nth-child(3n) {
		margin-right: auto;
	}

	.b-info-list {
		justify-content: space-between;
	}
	.b-info-list > li {
		width: calc(50% - 10px);
		margin-right: 0;
	}

	.b-product-slider .slider .slide {
		height: 240px;
	}

	.b-video iframe {
		max-width: 420px;
		height: 235px !important;
	}

	.b-info-cards {
		display: block;
		margin-top: 30px;
	}
	.b-info-cards > .card {
		width: 100%;
		margin: 20px auto 0;
	}
	.b-info-cards > .card:nth-child(3n) {
		margin-right: auto;
	}

	.b-about-advs {
		display: block;
	}
	.b-about-advs > li {
		width: 100%;
		max-width: 360px;
		margin: 30px auto 0;
	}
	.b-about-advs > li:nth-child(3n) {
		margin-right: auto;
	}

	.b-nav {
		display: block;
	}
	.b-nav > li {
		width: 100%;
		margin: 30px auto 0;
		text-align: center;
	}
	.b-nav > li .b-btn {
		margin: 15px auto 0;
	}
}
@media screen and (max-width: 420px){
	.b-info-list {
		display: block;
	}
	.b-info-list > li {
		display: block;
		width: 100%;
	}

	.b-video iframe,
	.b-text iframe {
		max-width: 356px;
		height: 200px !important;
	}
}